body { background: #0DA284; color: #fff; font-family: Helvetica, Arial, sans-serif; text-align: center; overflow: hidden; }

h1, h2 { font-family: Georgia, serif; font-weight: normal; margin: 0; }

header h1 { font-size: 92px; }

header h2, section h1 { font-size: 42px; }

p { font-size: 20px; line-height: 1.6em; text-align: left; width: 600px; padding: 0 100px; }

a { color: #103F32; font-weight: bold; }

header, section { margin: 40px auto;}

section { display: inline-block; }

.wrapper { position: relative; }

.gallery { list-style-type: none; padding: 5px; width: 720px; }
.gallery li { display: inline-block; margin: 2px; }
.gallery img { border: 1px solid #fff; }

#me, #about, #designed, #developed, #contact { position: absolute; }

#designed, #developed, #contact {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

#about {
	left: 1200px;
}

#designed {
	left: 2200px;
	top: 900px;
}

#developed {
	left: 800px;
	top: 1200px;
}

#contact {
	left: -900px;
	top: 900px;
}

